<div>
  <% for author in @authors %>
    <div>
      <label><%= author.name %> <%= author.last_name %></label>
      <ul>
        <% for book in author.books %>
          <li>
            <%= book.name %>
            <% if user_signed_in? %>
              <form method="post" action="<%= libros_agregar_libro_path %>">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <input type="hidden" name="book[id]" value="<%= book.id %>">
                <button type="submit">
                  <i class="fas fa-plus fa-2x"></i>
                </button>
              </form>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>